<div class="row">
    <div class="col p-0">
        <div class="header bg-primary">
            <div class="title">Schedule your session!</div>
            <div class="sub-title">Timezone: {{timezoneName}}</div>
        </div>
        <div class="grid">
            <carousel   [itemsPerSlide]="totalDays"
                        [singleSlideOffset]="true"
                        [noWrap]="false"
                        [interval]="false"
                        [startFromIndex]="0"
                        [showIndicators]="false"
                        (slideRangeChange)="onSlideRangeChange($event)">
                <slide *ngFor="let date of calendar; let index=index" class="mx-auto">
                    <div class="day-week">{{date.dayWeek | uppercase}}</div>
                    <div class="day-month">{{date.month | uppercase}} {{date.day}}</div>
                </slide>
            </carousel>
        </div>
        <div class="grid mt-3 card-schedule">
            <div class="row no-gutters" *ngFor="let hour of counter(totalTimes); let i = index">
                <div class="col pt-1 px-1" 
                     id="c{{i}}l{{x}}"
                     *ngFor="let in of counter(totalDays); let x = index"
                     (click)="markTime(i, x);">
                    <div class="schedule" [class.enabled-time]="scheduledTime[i].position[x]">{{scheduledTime[i].position[x] ? scheduledTime[i].time : '-'}}</div>
                </div>
            </div>
            <div class="row no-gutters" *ngIf="totalTimes < scheduledTime.length">
                <div class="col pt-1 px-1" *ngFor="let in of counter(totalDays); let i = index;" (click)="moreResults();">
                    <div class="schedule enabled-time more" id="more{{i}}">MORE</div>
                </div>
            </div>
        </div>
    </div>
</div>