<ng-container *ngIf="user">
    <div class="image">
        <img [src]="user.picture" class="img-fluid rounded-circle" alt="">
    </div>
    <div class="infos">
        <div class="name">
        {{user.name}}
        </div>
        <div class="city">
            {{user.profession}} / <span> {{user.city}} </span>
        </div>
        <app-stars [amountReviews]="user.reviews" [note]="user.note"></app-stars>
        <div class="price">
            {{user.price | currency:'BRL'}} / <span>{{user.duration}} minutes</span>
        </div>
    </div>

    <div class="description">
        {{user.description}}
    </div>
</ng-container>