.image {
    float: left;
    width: 175px;
}

.infos {
    margin-left: 190px;
    color: #4c585e;
}

.name {
    width: 100%;
    float: left;
    font-size: 23px;
    font-weight: bold;
    padding-bottom: 5px;
}

.description {
    width: 100%;
    float: left;
    padding-top: 15px;
    color: #4c585e;
}

.price {
    width: 100%;
    float: left;
    font-size: 19px;
    font-weight: bold;
    margin-top: 10px;
}

.price span {
    font-weight: 300;
    font-size: 16px;
}

.city {
    width: 100%;
    float: left;
    font-weight: bold;
    color: skyblue;
}

.city span {
    font-weight: 400;
    color: #4c585e;
    font-size: 16px;
}